*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---sheared styles--- */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.section_header{
    max-width: 1360px;
    height: 152px;
   
}
.logo{
    width: 139px;
    height: 60px;
}
.navbar_button button{
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255,255,255);
    background-color: rgb(70,145,101);
    border-radius: 4px;
    border: none;
    padding: 12px 16px  ;
    cursor: pointer;
}
nav .menu ul {
    display: flex;
    list-style: none;
    gap:32px

}
nav .menu a{
    text-decoration: none;
    font-size: 500;
    font-size: 16px;
}
nav{
    width: 100%;
    height: 92px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* banner section */

#banner{
    background-image: url('assets/hero-bg.png');
    width: 100%;
    height: 674px;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    
     display: flex;
     align-items: center;
    
     text-align: center;

}
#banner .banner_box h1{
   
    font-weight:700;
    font-size: 72px;
    margin-bottom: 16px;

}


#banner .banner_box{
    width: 1360px;
    height: 379px;
   
    margin:0px auto;
    padding-left: 295px;
    padding-right: 295px;
    text-align: center;
  
}
#banner .banner_box  .banner_details{
    color: white;
}
#banner .banner_box  .banner_details p{
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
#banner .banner_box  .banner_details .color_head{
    color:rgba(48, 184, 104, 1);
}
#banner .banner_box .banner_button{
    margin-top: 32px;
    gap: 16px;
}
#banner .banner_box .banner_button_color{
    width: 251px;
    height: 52px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 16px;
    border: none;
   
}
#banner .banner_box .banner_button_transparent{
    width: 198px;
    height: 52px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    font-size: 16px;
    margin-left: 16px;
    font-weight: 600;
    
    
}
#banner .early_button{
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 1);
    color:#469165 ;
}



#note .note_container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(251, 251, 251) ;

}
#note .note_container .section_header h1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 152px;
    margin-bottom: 16px;
    font-weight:700 ;
    font-size: 48px;
    
   

}
#note .note_container .header_paragraph{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 44px;

}
#note .note_container .note_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
#note .note_container .note_info .info_card{
    width: 322px;
    height: 300px;
    gap: 24px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
   
}
#note .note_container .note_info .info_card img{
background-color: red;
border-radius: 50%;
object-fit: cover;
width: 32px;
height: 32px;
}
 #note .note_container .note_info .info_card .logos{
background: rgba(249, 85, 85, 1);
   width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 14px;
 }


 #brain .brain_container{
   
    width: 100%;
    height: 840px;
    padding: 120px;
    display: flex;
    gap: 60px;
 }
 #brain .brain_container .brain_img{
    width: 600px;
    height: 600px;
   
 }
 #brain .brain_container .brain_info .solution {
    color: #469165;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    
    
   
 }
 #brain .brain_container .brain_info h1{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
 }
 #brain .brain_container .brain_info .personal_paragraph{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
    color: rgb(98, 115, 130);
 }
 .check_mark li{
    list-style: none;
    margin-bottom: 16px;
    
     display: flex;
     align-items: center;
    
 }
 .check_mark{
    
   
    margin-bottom: 12px;
    font-size: 18px;
    color: #1a2b3c;
 }
 .check_icon{
   height: 20px;
   width: 20px;
  

    margin-right: 6px;
 }

