*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---sheared styles--- */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.logo{
    width: 139px;
    height: 60px;
}
.navbar_button button{
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255,255,255);
    background-color: rgb(70,145,101);
    border-radius: 4px;
    border: none;
    padding: 12px 16px  ;
    cursor: pointer;
}
nav .menu ul {
    display: flex;
    list-style: none;
    gap:32px

}
nav .menu a{
    text-decoration: none;
}
nav{
    width: 1600px;
    height: 92px;
    margin: 0px auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}